* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    background: rgb(251, 250, 249);
    height: 100%;
    margin: 0;
}

button{
    cursor: pointer;
}
.webpage {
    border: 0px solid red;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    text-align: center;
    width: 100%;
}

.outerLayout {
    border: 0px solid #ddd;
    display: inline-block;
    overflow: scroll;
    position: relative;
    text-align: left;
    width: 90%;
}


.header-container {
    border: 0px solid grey;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}

.header-title {
    border: 0px solid grey;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    width: 90%;
}

.topNavigationBar {
    border: 0px solid silver;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    width: 90%;
}


.container {
    border: 1px solid blue;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    width: 100%;
}


.floatRight {
    float: right;
    position: relative;

}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
}

.textLeft {
    text-align: left;
}

.noTextDecoration {
    text-decoration: none;
}

.silverBorder {
    border: 1px solid silver;
}

.margin10 {
    margin: 10px;
}

.displayBlock {
    display: block;
}

.displayFlex {
    display: flex;
}

.hide {
    display: none;
}


.read {
    border: 1px solid silver;
    position: relative;
}

.write {
    position: relative;
}

.create {
    position: relative;
}

.edit {
    position: relative;
}

.delete {
    position: relative;
}

.flex-container {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid blue;
    background-color: lightblue;
    flex: 0 32%;
    height: 100px;
    margin: 5px;
    margin-bottom: 2%;
    /* (100-32*3)/2 */
    width: 100px;
}